name: Publish

on:
  push:
    tags:
      - "v*"

jobs:
  publish:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    environment: pypi
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Set up Python
        run: uv python install 3.14

      - name: Build
        run: uv build

      - name: Publish
        run: uv publish
